kestra/flows/hourly_air_quality_ingest.yml
id: hourly_air_quality_ingest
namespace: hcm_pipeline
# Flow to fetch hourly air quality data from Open-Meteo API and process it into the Bronze and Silver layers.

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "de-zoomcamp-2026-486008"

tasks:
  # Task to fetch current air quality data from the Open-Meteo API, parse it, and save as a local JSON file.
  - id: extract_and_transform
    type: io.kestra.plugin.scripts.python.Script
    timeout: PT5M
    retry:
      type: exponential
      maxAttempts: 3
      initialDelay: PT30S
      maxDelay: PT5M
    containerImage: python:3.11-alpine
    outputFiles:
      - "*.json"
    script: |
      import json
      import urllib.request
      from datetime import datetime, timezone

      url = "https://air-quality-api.open-meteo.com/v1/air-quality?latitude=10.8231&longitude=106.6297&current=pm10,pm2_5,carbon_monoxide,nitrogen_dioxide,sulphur_dioxide,ozone,us_aqi,european_aqi&timezone=Asia/Ho_Chi_Minh"

      with urllib.request.urlopen(url) as response:
          data = json.loads(response.read())

      current = data["current"]
      record = {
          "ingested_at": datetime.now(timezone.utc).isoformat(),
          "observed_at": current.get("time"),
          "latitude": data.get("latitude"),
          "longitude": data.get("longitude"),
          "pm10": current.get("pm10"),
          "pm2_5": current.get("pm2_5"),
          "carbon_monoxide": current.get("carbon_monoxide"),
          "nitrogen_dioxide": current.get("nitrogen_dioxide"),
          "sulphur_dioxide": current.get("sulphur_dioxide"),
          "ozone": current.get("ozone"),
          "us_aqi": current.get("us_aqi"),
          "european_aqi": current.get("european_aqi")
      }

      with open("air_quality.json", "w") as f:
          json.dump(record, f, indent=2)

  # Task to upload the extracted JSON file to the Bronze layer in Google Cloud Storage, partitioned by date and hour.
  - id: load
    type: io.kestra.plugin.gcp.gcs.Upload
    timeout: PT5M
    retry:
      type: exponential
      maxAttempts: 3
      initialDelay: PT30S
      maxDelay: PT5M
    from: "{{outputs.extract_and_transform.outputFiles['air_quality.json']}}"
    to: "gs://hcm-air-quality-486008/bronze/hourly/{{execution.startDate | date('yyyy-MM-dd')}}/{{execution.startDate | date('HH')}}/air_quality.json"

  # Task to execute a PySpark script via dockerized spark-submit which reads from Bronze and writes to Silver layer.
  - id: pyspark_bronze_to_silver
    type: io.kestra.plugin.scripts.shell.Script
    timeout: PT15M
    retry:
      type: exponential
      maxAttempts: 2
      initialDelay: PT1M
      maxDelay: PT5M
    containerImage: hcm-pyspark:3.5
    namespaceFiles:
      enabled: true
    env:
      DATE: "{{execution.startDate | date('yyyy-MM-dd')}}"
      HOUR: "{{execution.startDate | date('HH')}}"
      GCP_CREDS: "{{kv('GCP_CREDS')}}"
    script: |
      #!/bin/bash
      set -e
      printf '%s' "$GCP_CREDS" > /tmp/sa_key.json
      spark-submit --jars /app/gcs-connector.jar spark/transform_hourly.py

triggers:
  # Schedule indicating the flow will run automatically at the start of every hour.
  - id: hourly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 * * * *"